@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  place-items: center;
}

@layer components {
  .tetris-font {
    font-family: 'Press Start 2P', cursive;
  }
}
